# IDF

    CONFIG_IDF_TARGET="esp32"
    CONFIG_IDF_TARGET_ARCH="xtensa"

# Bootloader

    CONFIG_BOOTLOADER_LOG_LEVEL_WARN=y

# FreeRTOS

    ## Kernel

        CONFIG_FREERTOS_MAX_TASK_NAME_LEN=32
        CONFIG_FREERTOS_TIMER_TASK_STACK_DEPTH=4096

# Log

    CONFIG_LOG_DEFAULT_LEVEL_ERROR=y
